{% extends 'base.html.twig' %}

{% block body %}
SOA JENNY, [13.03.19 15:21]
<div class="container">
    <form>
        <h3>Create Your Slider</h3>
        <div class="form-group row">
            <label for="slider_name" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="slider_name" placeholder="Type name of Slider...">
            </div>
        </div>

        <div class="form-group row">
            <label for="slider_style" class="col-sm-2 col-form-label">Slider Style </label>
            <div class="col-sm-10">
                <select id="slider_style" class="form-control">
                    <option selected>Simple Slider</option>
                    <option>Carousal Slider</option>
                    <option>Logo Slider</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="infinite-items" class="col-sm-2 col-form-label">Infinite Items</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="infiniteRadios" id="infiniteRadios1"
                                   value="option1" checked>
                            <label class="form-check-label" for="infiniteRadios1">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="infiniteRadios" id="infiniteRadios2"
                                   value="option2">
                            <label class="form-check-label" for="infiniteRadios2">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="dots" class="col-sm-2 col-form-label">Dots</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="infiniteRadios" id="dotRadios1"
                                   value="option1" checked>
                            <label class="form-check-label" for="dotRadios1">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="infiniteRadios" id="dotRadios2"
                                   value="option2">
                            <label class="form-check-label" for="dotRadios2">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="slider_to_show" class="col-sm-2 col-form-label">Slider To Show </label>
            <div class="col-sm-10">
                <select id="slider_to_show" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option selected>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
        </div>

        SOA JENNY, [13.03.19 15:21]
        <div class="form-group row">
            <label for="slider_to_scroll" class="col-sm-2 col-form-label">Slider To Scroll </label>
            <div class="col-sm-10">
                <select id="slider_to_scroll" class="form-control">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
        </div>


        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                               checked>
                        <label class="form-check-label" for="gridRadios1">
                            First radio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Second radio
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3"
                               disabled>
                        <label class="form-check-label" for="gridRadios3">
                            Third disabled radio
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-2">Setting</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label" for="gridCheck">
                        Slider Autoplay
                    </label>
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                </div>
            </div>
            <div class="col-sm-push-2 col-sm-10">
                <div class="form-check">
                    <label class="form-check-label" for="gridCheck1">
                        Show Loop
                    </label>
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                </div>
            </div>
            <div class="col-sm-push-2 col-sm-10">
                <div class="form-check">
                    <label class="form-check-label" for="gridCheck2">
                        Show Arrows
                    </label>
                    <input class="form-check-input" type="checkbox" id="gridCheck2">
                </div>
            </div>
            <div class="col-sm-push-2 col-sm-10">
                <div class="form-check">
                    <label class="form-check-label" for="gridCheck3">
                        Show Dots
                    </label>
                    <input class="form-check-input" type="checkbox" id="gridCheck3">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
