{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            text-transform: none;
            letter-spacing: normal;
            font-weight: 400;
            color: #212b35;
            font-family: ShopifySans, Helvetica, Arial, sans-serif;
        }
        .setting-pd-slider-frm label:hover{
            cursor: pointer;
        }
        .setting-pd-slider-frm .heading {
            margin: 20px auto;
        }
        .setting-pd-slider-frm .form-group {
            margin-bottom: 20px;
        }
        .setting-pd-slider-frm .setting-group .form-check {
            margin: 7px 0;
        }
        .list-price {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 1s, opacity 1s linear;
        }

        input[type="radio"]:checked+label{ font-weight: bold; }
        input[type="radio"]:checked~.list-price {
            visibility: visible;
            opacity: 1;
            transition: opacity 1s linear;
        }
        .btn-primary {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 3.6rem;
            margin: 0;
            padding: .7rem 1.6rem;
            /*background: linear-gradient(180deg,#fff,#f9fafb);*/
            /*border: .1rem solid #c4cdd5;*/
            /*box-shadow: 0 1px 0 0 rgba(22,29,37,.05);*/
            border-radius: 3px;
            line-height: 1;
            text-align: center;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-decoration: none;
            transition-property: background,border,box-shadow;
            transition-duration: .2s;
            transition-timing-function: cubic-bezier(.64,0,.35,1);
            background: linear-gradient(180deg,#6371c7,#5563c1);
            box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
            border-color: #3f4eae;
            color: #fff;
        }
        .btn-primary:hover {
            border-color: #3f4eae;
            color: #fff;
            background: linear-gradient(180deg,#5c6ac4,#4959bd);
            text-decoration: none;
        }
         /*check box style*/
        .form-check {
            padding-left: 0;
        }
        .container-check {
            display: inline-block;
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .price-radio-group .container-check {
            display: block;
        }

        /* Hide the browser's default checkbox */
        .container-check input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
        }
        .checkmark.radio {
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container-check:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container-check input:checked ~ .checkmark {
            background-color: #5c6ac4;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container-check input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container-check .checkmark:after {
            left: 6px;
            top: 3px;
            width: 8px;
            height: 11px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        /* Style the indicator (dot/circle) */
        .container-check .checkmark.radio:after {
            top: 6px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    </style>

    {#Header#}
    <div class="main_wrapper">
        <div class="header_wrapper">
            <div class="wrapper">
                <div class="navigation">
                    <ul>
                        <li><a href="index.php?shop=shopmachercommerce.myshopify.com">Home</a></li>
                        <li><a href="installation.php?shop=shopmachercommerce.myshopify.com">Installation Guide</a></li>
                        <li><a href="pricing.php?shop=shopmachercommerce.myshopify.com">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {#End Header#}

    <div class="container">
        <form class="setting-pd-slider-frm">
            <h2 class="heading">Create Your Slider</h2>
            <div class="form-group row">
                <label for="slider_name" class="col-sm-2 col-form-label font-weight-bold">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="slider_name" placeholder="Type name of Slider...">
                </div>
            </div>

            <hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label font-weight-bold">Type Product</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-check form-check-inline">
                                <label class="container-check">Category
                                    <input class="form-check-input" type="radio" name="typeProduct" id="typeProduct1" value="option2">
                                    <span class="checkmark radio"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-check price-radio-group">
                                <label class="container-check">Price
                                    <input class="form-check-input" type="radio" name="typeProduct" id="typeProduct2" value="option2">
                                    <span class="checkmark radio"></span>
                                    <div class="row list-price">
                                        <label for="list_price" class="col-sm-3 col-form-label text-right">Price Products:</label>
                                        <div class="col-sm-9">
                                            <select id="list_price" name="list_price" class="form-control">
                                                <option value="10">10 usd</option>
                                                <option value="100">100 usd</option>
                                            </select>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group row setting-group clearfix">
                <div class="col-sm-2 font-weight-bold">Setting</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="container-check">Slider Autoplay
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <label class="container-check">Show Loop
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <label class="container-check">Show Arrows
                            <input class="form-check-input" type="checkbox" id="gridCheck2">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <label class="container-check">Show Dots
                            <input class="form-check-input" type="checkbox" id="gridCheck3">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <label class="container-check">Open image link in new tab
                            <input class="form-check-input" type="checkbox" id="gridCheck4">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>

            <fieldset class="form-group row offset-sm-2">
                <legend class="col-form-label col-sm-2">Slider To Shows</legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <label class="container-check">1
                            <input class="form-check-input" type="radio" name="slideToShow" id="slideToShow1" value="option1">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">2
                            <input class="form-check-input" type="radio" name="slideToShow" id="slideToShow2" value="option2">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">3
                            <input class="form-check-input" type="radio" name="slideToShow" id="slideToShow3" value="option3">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">4
                            <input class="form-check-input" type="radio" name="slideToShow" id="slideToShow4" value="option4">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">5
                            <input class="form-check-input" type="radio" name="slideToShow" id="slideToShow5" value="option5" checked>
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">6
                            <input class="form-check-input" type="radio" name="slideToShow" id="slideToShow6" value="option6">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">7
                            <input class="form-check-input" type="radio" name="slideToShow" id="slideToShow7" value="option7">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group row offset-sm-2">
                <legend class="col-form-label col-sm-2">Slider To Scroll</legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <label class="container-check">1
                            <input class="form-check-input" type="radio" name="slideToScroll" id="slideToScroll1" value="option1" checked>
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">2
                            <input class="form-check-input" type="radio" name="slideToScroll" id="slideToScroll2" value="option2">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">4
                            <input class="form-check-input" type="radio" name="slideToScroll" id="slideToScroll3" value="option3">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">5
                            <input class="form-check-input" type="radio" name="slideToScroll" id="slideToScroll4" value="option4">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">6
                            <input class="form-check-input" type="radio" name="slideToScroll" id="slideToScroll5" value="option5">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="container-check">7
                            <input class="form-check-input" type="radio" name="slideToScroll" id="slideToScroll6" value="option6">
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                </div>
            </fieldset>


            <div class="form-group row offset-sm-2">
                <label for="slider_speed" class="col-sm-2 col-form-label">Slider Speed</label>
                <div class="col-sm-10">
                    <select id="slider_speed" name="slider_speed" class="form-control">
                        <option value="300">300 ms</option>
                        <option value="500">500 ms</option>
                        <option value="1000">1000 ms</option>
                        <option value="1500" selected="">1500 ms</option>
                        <option value="2000">2000 ms</option>
                        <option value="2500">2500 ms</option>
                        <option value="3000">3000 ms</option>
                        <option value="3500">3500 ms</option>
                        <option value="4000">4000 ms</option>
                        <option value="4500">4500 ms</option>
                        <option value="5000">5000 ms</option>
                    </select>
                </div>
            </div>
            <div class="form-group row offset-sm-2">
                <label for="transition_speed" class="col-sm-2 col-form-label">Transition Speed</label>
                <div class="col-sm-10">
                    <select name="transition_speed" id="transition_speed" class="form-control">
                        <option value="300">300ms</option>
                        <option value="500">500 ms</option>
                        <option value="1000">1000 ms</option>
                        <option value="1500">1500 ms</option>
                        <option value="2000">2000 ms</option>
                        <option value="2500">2500 ms</option>
                        <option value="3000" selected="">3000 ms</option>
                        <option value="3500">3500 ms</option>
                        <option value="4000">4000 ms</option>
                        <option value="4500">4500 ms</option>
                        <option value="5000">5000 ms</option>
                        <option value="5500">5500 ms</option>
                        <option value="6000">6000 ms</option>
                        <option value="6500">6500 ms</option>
                        <option value="7000">7000 ms</option>
                        <option value="7500">7500 ms</option>
                        <option value="8000">8000 ms</option>
                        <option value="8500">8500 ms</option>
                        <option value="9000">9000 ms</option>
                        <option value="9500">9500 ms</option>
                        <option value="10000">10000 ms</option>
                        <option value="10500">10500 ms</option>
                        <option value="11000">11000 ms</option>
                        <option value="11500">11500 ms</option>
                        <option value="12000">12000 ms</option>
                        <option value="12500">12500 ms</option>
                        <option value="13000">13000 ms</option>
                        <option value="13500">13500 ms</option>
                        <option value="14000">14000 ms</option>
                        <option value="14500">14500 ms</option>
                        <option value="15000">15000 ms</option>
                        <option value="15500">15500 ms</option>
                        <option value="16000">16000 ms</option>
                        <option value="16500">16500 ms</option>
                        <option value="17000">17000 ms</option>
                        <option value="17500">17500 ms</option>
                        <option value="18000">18000 ms</option>
                        <option value="18500">18500 ms</option>
                        <option value="19000">19000 ms</option>
                        <option value="19500">19500 ms</option>
                        <option value="20000">20000 ms</option>
                    </select>
                </div>
            </div>

            {#Image border radius#}
            {#Image hover Effects#}
            {#Slider Slide effect#}
            {#Slider Width(in Pixels)#}
            <div class="form-group row offset-sm-2">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
